body{
  background-color: lightgray;
  margin: auto;
}

.pagina{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}

/* .clearfix:after{
  clear: both;
  content: '';
  display: table;
} */

.box{
  background-color: white;
  border-radius: 10px;
}

.user{
  height: 350px;
  width: 380px;
  position: absolute;
  left: 0px;
  top: 0px;
}


#logo{
  height: 100px;
  width: 100px;
  position: absolute;
  margin: auto;
  right: 0px;
  left: 0px;
  top: 10px;
}

.bio{
  text-align: center;
  position: relative;
  top: 100px;
  color: darkblue;
  line-height: 5px;
}

.descrizione{
  text-align: center;
  position: relative;
  top: 100px;
  font-style: italic;
  margin: 15px;
}

button{
  background-color: dodgerblue;
  height: 30px;
  width: 120px;
  border-radius: 20px;
}

.social{
  width: 380px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 380px;
}

.dvd{
  width: 550px;
  height: 550px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.footer{
  width: 100%;
  height: 90px;
  position: absolute;
  top: 570px;
}
